*{
    background-color: lightsteelblue;
}

a{
    text-decoration: none;
    font-size: 20px;
}
ul{
}
.title{
    border: 5px outset red;
    text-align: center;
    font-size: 35px;
}
#recipes{
    color: black;
    border: 2px solid orange;
    list-style-type: none;
    text-align: center;
    color:aqua;
}
a#lasagna:hover {
    background-color: #ffcc99;
    color: rgb(194, 104, 0);
}
a#burger:hover {
    background-color: #78cbc3;
    color: rgb(2, 87, 116);
}
a#chocolate:hover {
    background-color: #fda1d5;
    color: rgb(255, 0, 255);
}